@keyframes bob-up-down {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  .bob {
    animation: bob-up-down 1.5s ease-in-out infinite;
  }
  